# Eclipse project files

# Eclipse workspace files
.metadata/

# Build output directory
bin/

# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/

